Installation

  The plugin is installed using the standard installation guidelines. When the installation is done, you should be able to see the plugin in the plugins department in the admin gui.

[images/configuration.png]

Configuration

  This plugin does not have any configuration options.
