<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
#set($locale = $m.context.site.bean.resources.locale)
##PQ's#####################################################################################
#if($sitemapcontent.googleSiteMap)
#set($list = $sitemapcontent.googleNewsSitemapPublishingQueue.list)
## loops thru the list of queues
#foreach($pq in $list)
#set($contentList = $pq.content.contentList)
## loops thru entries in queues
#foreach($contentEntry in $contentList)
#set($entry = $contentEntry.content)
<url>
## URLs are escaped by polopoly. We do not need to do that here.
#set($childPath = $tool_path.concatPath($entry.parentIds, $entry.contentId))
<loc>#link({"path": $childPath, "htmlEncodeLink": "true", "requestAttribs": {"localLinksEnabled": false}, "":""})</loc>
<news:news>
<news:publication>
<news:name>$!publicationName</news:name>
<news:language>en</news:language>
</news:publication>
##Hardcoded 'Z' time zone passing in UTC timezone populated by controller
#if($entry.publishedDate)<news:publication_date>$date.format("yyyy-MM-dd'T'HH:mm:ss", $entry.publishedDate, $locale, $timezone)Z</news:publication_date>#end
#if("$!entry.title" != "")<news:title>$!entry.title</news:title>#end
#if("$!entry.access" != "")<news:access>$!entry.access</news:access>#end
#if("$!entry.keywords" != "")<news:keywords>$!entry.keywords</news:keywords>#end
#if("$!entry.genres" != "")<news:genres>$!entry.genres</news:genres>#end
</news:news>
</url>
#end
#end
#end
## END PQ's################################################################################
</urlset>